@use "../../styles/variables" as *;
@use "../../styles/global" as *;
@use "../../styles/mixins" as *;

.taskItem {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 3rem;
  margin: var(--margin-medium);
  border: var(--border-style);
  border-radius: var(--border-radius-common);
  box-shadow: var(--box-shadow-bottom);
  text-align: start;
  transition: var(--transition);

  .taskContent {
    flex-grow: 1;
    padding: 0 1rem;
    word-wrap: break-word;
    border-left: var(--border-style);

    .edit {
      width: 100%;
      border: none;
      font-size: inherit;
    }
  }
  .checked {
    text-decoration: line-through;
  }

  .iconContainer {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    opacity: 0;
    .editIcon,
    .trashIcon {
      color: #323749;
    }
  }

  &:hover {
    background-color: #efefef;
    .iconContainer {
      opacity: 1;

      .editIcon:hover,
      .trashIcon:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}

.editing .iconContainer .editIcon,
.editing .iconContainer .trashIcon {
  display: none;
}

.iconContainer .saveIcon {
  display: none;
}

.editing .iconContainer .saveIcon {
  display: block;

  &:hover {
    color: var(--add-button-color);
  }
}
