:root {
  --primary-color: #fafafa;

  --input-height: 4rem;

  --margin-medium: 1rem;
  --padding-medium: 1rem;

  --gap-xsmall: 0.5rem;

  --box-shadow-container: 0 0 5px 5px #ccc;
  --box-shadow-input: 0px 15px 10px -5px #ccc;
  --box-shadow-bottom: 0px 15px 10px -5px #ccc;

  --border-radius-input: 0.5rem 0.5rem 0 0;
  --border-radius-common: 0.5rem;
  --border-style: 1px solid #ccc;

  --add-button-color: #00ae1c;
  --background-color-hover: #017101;

  --transition: background-color 0.3s ease;
}
